h1{
    position: relative;
    font-family: 'New Tegomin', serif;
}
h2 {
    position: relative;
}
  
p {
  text-align: center;
    
}
h4 {
    color: teal;
    font-family: 'New Tegomin', serif;
    
  }
  .window{
    padding: 50px;
    border: 10px solid lightblue;
    color: teal;
    border-radius: 20px;
    position: relative;
    max-block-size: 50%;
    
  }
  section {
    background: lightblue;
    position: relative;
    margin: 18px 400px 0px 400px;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: skew(-10deg);
    
  }
  section:hover{
    transform: scale(1.05);
  }

  #tomaNameButton{
  color: teal;
  position: relative;
  }

  i {
    font-size: 20px;
    color: teal;
  }
  body {
    background-color:#f5faee;
  }
   .babyTomaImg{
    width: 10%;
    height: 10%;
    top: -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 55px;
    
  }

  .newTomaName{
color: teal;
text-align: center;
margin-top: 50px;
font-size: 30px;
font-family: 'New Tegomin', serif;
  }

  