h2 {
    text-align: center;
  }
  
  p {
    text-align: center;
    
  }
  h4 {
    color: teal;
  }
  
  .window{
    padding: 50px;
    border: 10px solid lightblue;
    color: teal;
    border-radius: 20px;
    
  }
  section {
    background: lightblue;
    position: relative;
    margin: 10px 350px 0px 400px;
    cursor: pointer;
  }
  section:hover{
    transform: scale(1.1);
  }
  #User{
    color: teal;
  }
